.monaco-editor .cursors-layer .cursor {
  background: linear-gradient(180deg, #f74ea1 3%, #9a249c 50%, #4f0dcf 97%);
}

.monaco-editor .cursors-layer.has-selection .cursor {
  width: 2px !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container {
  background-size: 400% 400%;
  background-image: linear-gradient(
    to right,
    #f74ea1 3%,
    #9a249c 50%,
    #4f0dcf 90%
  );
  height: 1px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.dirty-border-top
  > .tab-border-top-container {
  background-size: 400% 400%;
  background-image: linear-gradient(
    to right,
    #4f0dcf 3%,
    #9a249c 50%,
    #f74ea1 90%
  );
  height: 1px;
}
